[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dragneel/Desktop/firefox.desktop]
row=4
col=0

[/home/dragneel/Desktop/qpdfview.desktop]
row=5
col=0

[/home/dragneel/Desktop/pac.log]
row=3
col=0

[/home/dragneel/Desktop/audacious.desktop]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dragneel]
row=2
col=0

